html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* background-color: #dedede !important;*/
}

body > .container {
    padding: 60px 15px;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
}

.sidebar {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.crowdwon-item {
    height: 100px;
    width: 100px;
    cursor: move;
}

.primary-color {
    background-color: #0085CA !important;
}

.accent-color {
    background-color: #339E36 !important;
}

.sidebar-title {
    color: white !important;
}

.col-md-2.sidebar{
    overflow: auto;
}
