html {
    position: relative;
    min-height: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.top-separator {
    padding-top: 40px;
}

.sidebar {
    width: 300px;
    background-color: #1ABC9C;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.white-text {
    color: white;
}

.title {
    font-size: 20px;
    font-weight: bold
}

.subtitle {
    font-size: 13px;
}

.sidebar-wrapper {
    padding: 0 40px;
}

.on-div:hover {
    background-color: #16A085;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 120px;
}

.divider {
    border-color: #16A085;
    margin: 10px 0;
}

.center-center {
    vertical-align: baseline;
    text-align: center;
}

.wrap {
    margin: 0 -40px;
}

.no-link {
    text-decoration: none;
}

.div-list-item {
    padding: 10px 0
}

.crowdwon-item {
    height: 100px;
    width: 100px;
}

.content {
    background-color: #303030;
    height: 100%;
    position: absolute;
}

.on-a:hover {
    text-decoration: none;
    color: #136d5a;
}