*
{
    margin:0;padding:0;
}
html,body,.row, .sidebar, .sidebar2 .content
{
    height: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    overflow:hidden;
}

.general-padding {
    padding: 40px 40px !important;
}

.sidebar {
    background-color: #1ABC9C;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
}
.sidebar2 {
    background-color: #1ABC9C;
    height: 100%;
    z-index: 10;
    right: 0;
    float: right !important;
    width: 12% !important;
    border-left: 10px solid #303030;
}

.white-text {
    color: white;
}

.title {
    font-size: 20px;
    font-weight: bold
}

.subtitle {
    font-size: 13px;
    margin-top: 10px !important;
}


.on-div:hover {
    background-color: #16A085;
    cursor: pointer;
}

.logo {
    width: 40%;
    height: 40%;
}

.divider {
    border-color: #16A085;
    margin: 15px 0;
}

.center-center {
    vertical-align: baseline;
    text-align: center;
}

.sidebar-wrapper {
    padding: 0 40px;
}
.wrap {
    margin: 0 -40px;
}

.no-link {
    text-decoration: none;
}

.div-list-item {
    padding: 10px 0
}

.crowdwon-item {
    height: 30%;
    width: 30%;
}

.content {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.on-a:hover {
    text-decoration: none;
    color: #136d5a;
}

#paper{
    height: 100%;
    width: 100%;
}

#cell-options {
    height: 100%;
    display: none;
}