html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #dedede !important;
}

.background-color {
    background-color: #dedede;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

body > .container {
    padding: 60px 15px;
}

.container .text-muted {
    margin: 20px 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
}

div .panel-group {
    margin-top: 16px;
}

.sidebar {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.grid {
    background-color: white;
    padding: 8px;
}

.container.grid {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: 5px;
    background-color: #1d2120 !important;
}

.panel-inverse {
    background: #a7a0a0 !important;
}

.crowdwon-item {
    height: 100px;
    width: 100px;
    cursor: move;
}

.col-md-2.background-color.sidebar {
    overflow-y: auto;
}

#drag-container {

}

#form-container {

}

.drag-element {

}

.drag-element.dropped {

}

.drag-element-source {

}
